{% extends 'text.twig' %}


{% block content_end %}

  <hr>

  <p>We have previously worked with companies such as…</p>

  <ul class="list--unstyled grid grid--6 grid--logos">
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/bbc.png" alt="BBC logo" width="200" height="58">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/google.png" alt="Google logo" width="200" height="67">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/citizens-advice.png" alt="Citizens Advice logo" width="200" height="213">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/berg.png" alt="BERG logo" width="200" height="80">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/storythings.png" alt="Storythings logo" title="Storythings" width="200" height="200">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/clearleft.png" alt="Clearleft logo" width="200" height="66">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/doteveryone.png" alt="Doteveryone logo" width="200" height="37">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/gfands.png" alt="Good, Form & Spectacle logo" title="Good, Form & Spectacle" width="200" height="141">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/caribou-digital.png" alt="Caribou Digital logo" width="200" height="77">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/museum-in-a-box.png" alt="Museum in a Box logo" title="Museum in a Box" width="200" height="200">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/hactar.png" alt="Hactar logo" width="200" height="50">
    </li>
    <li>
        <img class="company-logo img--fluid" src="/assets/img/logos/caper.png" alt="Caper logo" width="200" height="84">
    </li>
  </ul>

  <p><a href="/projects">Read more about a few of our projects.</a></p>


{% endblock content_end %}
