{% extends 'base.twig' %}

{# When the content is a block of text. Put it in a narrower column. #}

{% block content %}
  <div class="bodytext">
    {{ content }}
  </div> <!-- .bodytext -->

  {% block content_end %}
  {% endblock %}

{% endblock content %}
