/**
 * A lot of basic stuff from Bootstrap's Reboot Stylesheet.
 */

/**
 * COLORS:
 *
 * Yellow: #faed3e
 * Black:  #000
 * Blue:   #03a1c6   But too light for text, so: #0081a0
 * Grey:   #d0d0d0
 */
/**********************************************************************
 * BASICS
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: #000;
}

/* IE10+ doesn't honor `<meta name="viewport">` in some cases. */
@-ms-viewport {
  width: device-width;
}

/* Shim for "new" HTML5 structural elements to display correctly (IE10, older browsers) */
article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

/* Correct element displays */

output {
  display: inline-block;
}
summary {
  display: list-item;
  cursor: pointer;
}
template {
  display: none;
}

/* Always hide an element with the `hidden` HTML attribute (from PureCSS).
   Needed for proper display in IE 10-. */
[hidden] {
  display: none !important;
}

body {
  margin: 1em 20px;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #000;
  text-align: left;
  background-color: #fff;
}

/* Suppress the focus outline on elements that cannot be accessed via keyboard.
   This prevents an unwanted focus outline from appearing around elements that
   might still respond to pointer events.
   Credit: https://github.com/suitcss/base */
[tabindex="-1"]:focus {
  outline: 0 !important;
}

/* 1. Add the correct box sizing in Firefox.
   2. Show the overflow in Edge and IE. */
hr {
  box-sizing: content-box; /* 1 */
  height: 0; /* 1 */
  overflow: visible; /* 2 */
  clear: both;
  margin-top: 1.5rem;
  border: 0;
  border-top: 5px solid #d0d0d0;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/**********************************************************************
 * TYPOGRAPHY
 */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

h1 { font-size: 2rem; }
h2 { font-size: 1.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1.5rem;
}

/* 1. Remove the bottom border in Firefox 39-.
   2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   3. Add explicit cursor to indicate changed behavior. */
abbr[title] {
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
  cursor: help; /* 3 */
  border-bottom: 0; /* 1 */
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5rem;
}
ul {
  padding-left: 1.5rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1.5rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: 600;
}

small {
  font-size: 80%;
}

/* Prevent `sub` and `sup` elements from affecting the line height in all browsers. */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}
sub { bottom: -.25em; }
sup { top: -.5em; }


a {
  color: #0081a0;
  text-decoration: underline;
  background-color: transparent; /* Remove the gray background on active links in IE 10. */
  -webkit-text-decoration-skip: ink;
  text-decoration-skip: ink;
  text-decoration-skip-ink: auto;
}
a:hover,
a:visited {
  color: #0081a0;
}
a:hover {
  text-decoration: underline;
}

/* And undo these styles for placeholder links/named anchors (without href)
   which have not been made explicitly keyboard-focusable (without tabindex).
   It would be more straightforward to just use a[href] in previous block, but that
   causes specificity issues in many other styles that are too complex to fix.
   See https://github.com/twbs/bootstrap/issues/19402 */
a:not([href]):not([tabindex]),
a:not([href]):not([tabindex]):hover,
a:not([href]):not([tabindex]):focus {
  color: inherit;
  text-decoration: none;
}
a:not([href]):not([tabindex]):focus {
  outline: 0;
}


/**********************************************************************
 * IMAGES, CODE, TABLES.
 */

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}


img {
  vertical-align: middle;
  border-style: none;
}

svg:not(:root) {
  overflow: hidden; /* Hide the overflow in IE */
}


table {
  border-collapse: collapse;
}
caption {
  padding-top: .75rem;
  padding-bottom: .75rem;
  color: #666;
  text-align: left;
  caption-side: bottom;
}
th {
  text-align: inherit;
}


/**********************************************************************
 * FORMS.
 */

label {
  /* Allow labels to use `margin` for spacing. */
  display: inline-block;
  margin-bottom: .5rem;
}

button {
  border-radius: 0;
}

/* Work around a Firefox/IE bug where the transparent `button` background
   results in a loss of the default `button` focus styles.
   Credit: https://github.com/suitcss/base/ */
button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

/* 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
      controls in Android 4.
   2. Correct the inability to style clickable types in iOS and Safari. */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; /* 2 */
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

/* 1. Correct the text wrapping in Edge and IE.
   2. Correct the color inheritance from `fieldset` elements in IE. */
legend {
  display: block;
  width: 100%;
  max-width: 100%; /* 1 */
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit; /* 2 */
  white-space: normal; /* 1 */
}

progress {
  vertical-align: baseline; /* Add the correct vertical alignment in Chrome, Firefox, and Opera.*/
}

/* Correct the cursor style of increment and decrement buttons in Chrome. */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  /* This overrides the extra rounded corners on search inputs in iOS so that our
     `.form-control` class can properly style them. Note that this cannot simply
     be added to `.form-control` as it's not specific enough. For details, see
     https://github.com/twbs/bootstrap/issues/11586. */
  outline-offset: -2px; /* 2. Correct the outline style in Safari. */
  -webkit-appearance: none;
}

/* Remove the inner padding and cancel buttons in Chrome and Safari on macOS. */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* 1. Correct the inability to style clickable types in iOS and Safari.
   2. Change font properties to `inherit` in Safari. */
::-webkit-file-upload-button {
  font: inherit; /* 2 */
  -webkit-appearance: button; /* 1 */
}


/**********************************************************************
 * STRUCTURE.
 */

.container {
  max-width: 45rem;
  margin: 0 auto;
}

.footer {
  margin-top: 3rem;
  border-top: 5px solid #faed3e;
  padding-top: 1rem;
  font-size: 80%;
}

/*****************************************/
/* Styles for old browsers. */
/* Emulating grid CSS */

.grid {
  display: block;
}
.grid::after {
  /* Clearfix */
  display: block;
  clear: both;
  content: "";
}
.grid > * {
  display: block;
  float: left;
}
@media (min-width: 300px) {
  .grid--6 > * {
    width: 18%;
    margin-left: 7%;
    margin-right: 7%;
    margin-bottom: 2rem;
  }
}
@media (min-width: 568px) {
  .grid--1-1 > * {
    width: 47%;
    margin-left: 3%;
    margin-right: 3%;
  }
  .grid--1-1 > *:first-child {
    margin-left: 0;
  }
  .grid--1-1 > *:last-child {
    margin-right: 0;
  }

  .grid--2-1 > *:first-child {
    width: 64%;
    margin-right: 4%;
  }
  .grid--2-1 > *:last-child {
    width: 32%;
  }

  .grid--6 > * {
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 2rem;
  }
}
.grid--logos > * {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*****************************************/
/* Styles for newer browsers. */

@supports(display: grid) {

  /* Undo un-needed styles for older browsers. */
  .grid > * {
    float: none;
    width: auto !important;
    margin-bottom: 0;
  }
  .grid--1-1 > * {
    margin-left: 0;
    margin-right: 0;
  }

  /* Grid-only styles. */

  .grid {
    margin-bottom: 1rem;
    display: grid;
  }

  @media (min-width: 300px) {
    .grid--6 {
      display: grid;
      -ms-grid-columns: 24% 24% 24%;
      grid-template-columns: 24% 24% 24%;
      grid-gap: 2rem 14%  ;
    }
  }
  @media (min-width: 569px) {
    .grid--1-1 {
      -ms-grid-columns: 47% 47%;
      grid-template-columns: 47% 47%;
      grid-gap: 6%;
    }
    .grid--2-1 {
      -ms-grid-columns: 64% 32%;
      grid-template-columns: 64% 32%;
      grid-gap: 4%;
    }
    .grid--6 {
      -ms-grid-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
      grid-gap: 2rem 5%;
    }
  }
  .grid--logos {
    text-align: center;
    align-items: center;
  }
  .grid--logos > * {
    min-height: auto;
  }
}

/**********************************************************************
 * SITEHEAD.
 */

.sitehead__title {
  margin-bottom: 0;
  text-rendering: optimizeLegibility;
}
.sitehead__title a {
  color: #000;
}
.sitehead__tagline {
  margin-bottom: 0.5rem;
}

.banner {
  margin-bottom: 2em;
  border-bottom: 5px solid #faed3e;
}
.nav__inner {
  display: inline-block;
  padding-left: 0;
  margin-bottom: 0.5rem;
}
.nav__item {
  display: inline-block;
  list-style: none;
  font-weight: 600;
  margin-right: 10px;
}
.nav__item:last-child {
  margin-right: 0;
}

.sitehead a,
.nav a {
  text-decoration: none;
}
.sitehead a:hover,
.nav a:hover {
  text-decoration: underline;
}

/* For older, non-grid CSS browsers. */
.sitehead {
  float: none;
}

@media (min-width: 569px) {

  /* For older, non-grid CSS browsers. */
  .sitehead {
    float: left;
  }

  /* When nav is to right of title. */
  .nav {
    margin-top: 3rem;
  }

  .nav__item {
    margin-right: 20px;
  }
}

/**********************************************************************
 * GENERIC PAGE CONTENT.
 */

.pagehead__title {
  font-size: 1.5rem;
}

.bodytext {
  max-width: 37rem;
}

.img--bordered {
  border: 1px solid #d0d0d0;
}

.img--fluid {
  max-width: 100%;
  height: auto;
}

@media (min-width: 569px) {
  .u-align-right {
    text-align: right;
  }
}

.list--unstyled {
  padding-left: 0;
  list-style-type: none;
}

@media (min-width: 569px) {
  .grid > * > p:last-child {
    margin-bottom: 0;
  }
}

.company-logo {
  opacity: 0.43;
}


/**********************************************************************
 * UTILITY.
 */

.u-nowrap {
  white-space: nowrap;
}

/* Only display content to screen readers
 * See: http://a11yproject.com/posts/how-to-hide-content/
 * See: https://hugogiraudel.com/2016/10/13/css-hide-and-seek/ */
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  clip-path: inset(50%);
  border: 0;
}

/* Use in conjunction with .sr-only to only display content when it's focused.
 * Useful for "Skip to main content" links; see https://www.w3.org/TR/2013/NOTE-WCAG20-TECHS-20130905/G1
 * Credit: HTML5 Boilerplate */
.u-sr-only-focusable:active,
.u-sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  overflow: visible;
  clip: auto;
  white-space: normal;
  clip-path: none;
}
